<!DOCTYPE html>
<html  lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
        input{
            display: block;
            margin: 10px;
        }
        button{
            display: block;
            margin: auto 0;   
        }
    </style>
</head>
<body>
    <div class="alta">
        <h1>Alta usuario<h1>
        <form action="#" th:action="@{/usuario/crear}" th:object="${usuario}" method="POST">
            <input type="text" th:field="*{nombre}" placeholder="Nombre" required="required" />
            <input type="text" th:field="*{apellido}" placeholder="Apellido" required="required" />
            <input type="text" th:field="*{dni}" placeholder="Dni" required="required" />
            <input type="email" th:field="*{mail}" placeholder="Correo electrónico" required="required" />
            <input type="text" th:field="*{username}" placeholder="Nombre de usuario" required="required" />
            <input type="password" th:field="*{password}" placeholder="Contraseña" required="required" />
            <select th:field="${usuario.perfil.idPerfil}">
                <option th:each="perfil : ${perfiles}" th:text="${perfil.nombreRol}" th:value="${perfil.idPerfil}"></option>
            </select>
            <button type="submit" class="btn btn-primary btn-block btn-large">Crear usuario</button>
        </form>
    </div>
</body>
</html>