<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            display: block;
            margin: 10px;
        }
        button{
            display: block;
            margin: auto 0;   
        }
    </style>
</head>
<body>
    <div class="alta">
        <h1>Alta usuario<h1>
        <form action="#" th:action="@{/usuario/actualizar}" th:object="${usuario}" method="POST">
            <input type="hidden" th:field="*{idUsuario}">
            <input type="text" th:field="*{nombre}" th:text="${nombre}" placeholder="Nombre" required="required" />
            <input type="text" th:field="*{apellido}" th:text="${apellido}" placeholder="Apellido" required="required" />
            <input type="text" th:field="*{dni}" th:text="${dni}" placeholder="Dni" required="required" />
            <input type="email" th:field="*{mail}" th:text="${mail}" placeholder="Correo electrónico" required="required" />
            <input type="text" th:field="*{username}" th:text="${username}" placeholder="Nombre de usuario" required="required" />
            <input type="password" th:field="*{password}" th:text="${password}" placeholder="Contraseña" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Actualizar usuario</button>
        </form>
    </div>
</body>
</html>