<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP OO2 GRUPO 10</title>
    <link href="../static/css/general.css" th:href="@{/css/general.css}"  rel="stylesheet">
	<link href="../static/css/listado.css" th:href="@{/css/listado.css}"  rel="stylesheet">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor">
        <div class="header">
            <div class="menu">
                <nav>
                    <ul class="list">
                        <li><a th:href="@{/login}">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contenido">
            <div class="backButton">
                <a th:href="@{/}"><i class="fas fa-arrow-left"></i></a>
            </div>
			<div class="form">
				<form action="#"  th:action="@{/permiso/traerPorPersona}" method="POST">
					<div class="input">Persona que solicita el permiso</div>
						<select name="idPersona">
							<option th:each="pedido : ${personas}" th:text="${pedido.nombre} + ${pedido.apellido}"
								th:value="${pedido.idPersona}">
							</option>
						</select>
						<button type="submit">Traer Permiso</button>
						
						

						
						
				</form>
			</div>
		</div>
        <div class="footer">
            <p>Trabajo Práctico Cuatrimestral - Universidad Nacional de Lanus - Orientación a Objetos 2</p>
            <ol>
                <li>Crespi, Sebastián </li>
                <li><div class="punto"></div></li>
                <li>Di Gangi, Mariano </li>
                <li><div class="punto"></div></li>
                <li>Gómez, Carolina </li>
                <li><div class="punto"></div></li>
                <li>Gonzalez Canosa, Juan Manuel</li>
            </ol>
            <a href="https://github.com/CarolinaAGomez/Grupo-10-OO2-2021"><i class="fab fa-github"></i> Grupo número 10 </a>
        </div>
    </div>
</body>
</html>
