*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100vw;
}
.contenedor{
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(75vh,auto) auto;
}
.contenedor .header{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
    min-height: 8vh;
    background: rgb(23, 24, 56);  
}
.contenedor .header .usuario{
    grid-column: 1/2;
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(230, 227, 227);
}
.contenedor .header .usuario i{
    display: block;
    font-size: 1vw;
    padding: 1vw;
}
.contenedor .header .usuario p{
    font-size: 1vw;
}
.contenedor .header .menu{
    grid-column: 3/4;
    display: flex;
    justify-content:right;
    align-items: center;
}

.menu nav{
    display: block;
    width: 30%;
    margin-right: 1.3vw;
}
.list{
    display: flex;
    justify-content: end;
    list-style: none;
}
.list > li{
    display:inline-block;
    padding: 4% 2%;
    margin: 0 2%;
    cursor: pointer;
}
.list > li a{
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: bold;
    color: rgb(230, 227, 227);
    
}
.menu nav ul > li i{
    font-size: 0.8em;
}
#submenu{
    position: absolute;
    background-color: white;
    margin-top: 1.26%;
    width: 7.5vw;
    right: 0.3vw;
}
#submenu ul {
    position:relative;
    list-style: none;
}
.submenu{
    display: none;
}
#submenu ul li{
    display: block;
    padding: 1vw 1vw 0vw 1vw;
    color: rgb(23, 24, 56);
    font-weight: 500;
    text-align: center;
    font-size: 0.9vw;
}
#submenu ul li form{
    padding-bottom: 1vw;
}
#submenu ul li form button{
    color: rgb(23, 24, 56);
    background-color: white;
    font-size: 0.9vw;
    border: none;
    cursor: pointer;
}
#submenu ul li form button:hover{
    font-weight: bold;
}

.contenedor .contenido{
    grid-row: 2/3;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 231);
    padding: 20px 10px;
}
.contenedor .contenido .itemListados{
    display: flex;
    justify-content: center;
}
.contenedor .contenido .itemListados div{
    display: block;
    text-align: center;
    margin: 7.5vw 3vw;
}
.contenedor .contenido .itemListados div a{
    display: block;
    text-decoration: none;
    color: rgb(23, 24, 56);
    font-size: 1.9vw;
    margin: 2.2vw;
}
.contenedor .contenido .itemListados div a:hover i{
    color: rgb(83, 84, 133);
}
.contenedor .contenido .itemListados div a i{
    display: block;
    font-size: 10vw;
    padding: 1.5vw 4vw;
}
.contenedor .footer{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: 1fr auto 1fr;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(23, 24, 56);
}

.contenedor .footer p{
    display: block;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 1.8vw;
    font-size: 1.2vw;
    color: aliceblue;
    font-weight: 600;
}
.contenedor .footer ol{
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;
    width: 100%;   
    margin-top: 1.7vw;
}
.contenedor .footer ol li{
    display: inline-block;
    color:aliceblue;
    font-size: 0.9vw;
    padding: 0 0.5vw;
}
.contenedor .footer ol li .punto{
    border: 1px aliceblue solid;
    padding: 0.1vw;
    margin-bottom: 0.15vw;
    border-radius: 100%;
    background-color: aliceblue;
}
.contenedor .footer a{
    grid-column: 2/3;
    grid-row: 2/3;
    display: block;
    padding-bottom: 10%;
    color:aliceblue;
    text-decoration: none;
    font-size: 2vw;    
}
.contenedor .footer a:hover{
    color: rgb(64, 120, 224);
}
.error_container{
	display:grid;
	grid-template-columns:repeat(3,auto);
	grid-template-rows:repeat(5,auto);
}
.error_container div{
	display:flex;
	justify-content:center;
	align-items:center;
}
.error_container .titulo{
	grid-column:2/3;
	grid-row:2/3;
	font-size: 4.5vw;
	font-family: 'Montserrat', sans-serif;
	color: rgb(23, 24, 56);
	margin-top: 50px;
	padding-bottom:5px;
}
.error_container .texto{
	grid-column:2/3;
	grid-row:3/4;
	font-size:1.35vw;
	color: rgb(23, 24, 56);
}
.error_container .boton{
	grid-column:2/3;
	grid-row:4/5;
	display:block;
	width:40%;
	margin:0 auto;
}
.error_container .boton a {
	display:block;
	text-align:center;
	width:50%;
	margin:0 auto;
	background-color: rgb(23, 24, 56);
	color: rgb(230, 227, 227);
	font-weight: 600;
	padding: 4%;
	margin-top: 12%;
	font-size: 1vw;
	cursor: pointer;
	border-radius:4px;
	border:1px rgb(23, 24, 56) solid;
}
.error_container .boton a:hover{
	color:rgb(23, 24, 56); /*#1883ba;*/
	background-color:rgb(230, 227, 227);
	border:1px rgb(23, 24, 56) solid;
}