*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 229, 231);
}
.contenedor .login{
    text-align: center;
    display: block;
    background-color: white;
    padding: 3% 3.8%;
    border-radius: 10px;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.541);
}
.contenedor .login h2{
    display: block;
    margin-bottom: 10%;
    padding: 10% 0;
    font-size:2.4vw;
    color: rgb(23, 24, 56);
}
.contenedor .login form{
    display: block;
}
.contenedor .login form .input{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.contenedor .login form .input i{
    display: inline-block;
    width: 11%;
    margin-top: 7%;
    font-size: 0.9vw;
    padding: 5% 10% 5.5% 0%;
    color: rgb(15, 16, 51);
}
.contenedor .login form .input input{
    display: inline-block;
    padding: 5% 3%;
    margin-top: 5%;
    color: rgb(15, 16, 51);
    font-size: 1.2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px rgb(23, 24, 56) solid;
    width: 100%;
}
.contenedor .login form select{
    display: inline-block;
    width: 100%;
    padding: 5% 3%;
    margin-top: 5%;
    border: 1px rgb(23, 24, 56) solid;
    color: rgb(15, 16, 51);
    font-size: 1vw;
    font-weight: bold;
}
.contenedor .login form button{
    width: 55%;
    background-color: rgb(23, 24, 56);
    color:rgb(230, 227, 227);
    font-weight: 600;
    padding: 4% 0;
    margin-top: 12%;
    font-size: 1vw;
    border: 1px rgb(23, 24, 56) solid;
    border-radius: 40px;
    cursor: pointer;
}
.contenedor .login form button:hover{
    background-color: rgb(83, 84, 133);
    border: 1px rgb(23, 24, 56) solid;
}
.contenedor .login form .alerta{
    user-select: none;
    margin-top: 8%;
    color: rgb(172, 9, 9);
}

.backButtonAlta{
    position: absolute;
    top:2vh;
    left:2vw;
    color: rgb(23, 24, 56) ;
    font-size: 2.4vw;
}
