<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP OO2 GRUPO 10</title>
    <link href="../static/css/general.css" th:href="@{/css/general.css}"  rel="stylesheet">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor">
        <div class="header">
            <div class="menu">
                <nav>
                    <ul class="list">
                        <li><a th:href="@{/login}">Login</a></li>
                        <li><a th:href="@{/rodado}">Rodado</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contenido">
        </div>
        <div class="footer">
            <p>Trabajo Práctico Cuatrimestral - Universidad Nacional de Lanus - Orientación a Objetos 2</p>
            <ol>
                <li>Crespi, Sebastián </li>
                <li><div class="punto"></div></li>
                <li>Di Gangi, Mariano </li>
                <li><div class="punto"></div></li>
                <li>Gómez, Carolina </li>
                <li><div class="punto"></div></li>
                <li>Gonzalez Canosa, Juan Manuel</li>
            </ol>
            <a href="https://github.com/CarolinaAGomez/Grupo-10-OO2-2021"><i class="fab fa-github"></i> Grupo número 10 </a>
        </div>
    </div>
</body>
</html>