<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<div class="card-body">
					<!--    Si el usuario existe se le da la bienvenida el y el nombre se obtiene de lo que le manda el controlador a la vista -->
				<h1>HOLA SOY USER, SOLICITAR PERMISOS AL ADMINISTRADOR</h1>
					 
					<form th:action="@{/logout}" method="POST">
						<!-- ya security tiene el logout implemenantado? -->
					<button type="submit" class="btn btn-primary mt-3">Salir</button> 
					</form> 
				</div>
			</div>
		</div>
	</div>

</body>
</html>