<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<div class="card-body">
					<!--    Si el usuario existe se le da la bienvenida el y el nombre se obtiene de lo que le manda el controlador a la vista -->
					<span th:if="${session.usuario != null}">Bienvenido/a <span
						class="font-italic" th:text="${session.usuario.nombre}"></span></span>
					<span>Seleccione la opcion que desea realizar</span>
					<a class="mt-5" style="display: block;" th:href="@{/usuario/}" >Usuarios</a> <br>
					<a class="mt-5" style="display: block;" th:href="@{/perfil}">Perfiles</a>
					<form th:action="@{/logout}" method="POST">
						<!-- ya security tiene el logout implemenantado? -->
					<button type="submit" class="btn btn-primary mt-20">Salir</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>