<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Vista Perfiles</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

	<div>
	
	<a th:href="@{/perfil/(format=pdf)}" class="nav-link float-right"  title="Exportar a pdf" target=_blank>
        <img  class ="img-responsive center-box " th:src="@{/pdf.png}" height="auto"></a>
		<table>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
			</tr>
			<tr th:each="perfil:${perfil}">
				<td><span th:text="${perfil.idPerfil}"/></td>
				<td><span th:text="${perfil.nombreRol}"/></td>
				<td>
					<form action="#" th:action ="@{/perfil/delete/{id}(id=${perfil.idPerfil})}" method="POST" >
						<input type="submit" value="eliminar">
					</form>
					<form action="#" th:action ="@{/perfil/update/{id}(id=${perfil.idPerfil})}" method="Get" >
						<input type="submit" value="actualizar">
					</form>
				</td>
			</tr>
		</table>
		<br>
		<a th:href="@{/perfil/new}">Nuevo</a>
		<br>
	</div>
</body>
</html>


<!--  -->