<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/form.css" th:href="@{/css/form.css}"  rel="stylesheet">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <title>TP OO2 GRUPO 10</title>
</head>
<body>
	<div class="contenedor">    
		<div class="backButtonAlta">
			<a th:href="@{/perfil}"><i class="fas fa-arrow-left"></i></a>
		</div>
		<div class="form">
			<form action=# th:action="@{/perfil/create}" th:object="${perfil}" method="POST">
				<div class="input">
					<input type="text" th:field="*{nombreRol}" placeholder="Nombre" required="required">
					
				</div>
				<button type="submit">Crear perfil</button>
			</form>
		</div>
	</div>
</body>
</html>
